html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('./img/moroccan-flower.png') !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navbar */

.navbar {
  /* background-color: #3f0d12;
  background-image: url('./img/moroccan-flower.png');
  background-image: linear-gradient(315deg, #3f0d12 0%, #750a1a 90%); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  padding:13px;
  padding-bottom: 10px;
  position: sticky;
  width: 100vw;
  top:0;
  z-index: 100;
  color:white;
}

/* restaurant details */
.restaurant-mini-details {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  border: 1px solid maroon;
  border-radius: 1rem;
  width:50vw;
  height:fit-content;
  margin: 10px;
  box-shadow: 5px 2px 2px black;
  background-color: white;
  z-index: 1;
}
.title-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  /* background-color: maroon;
  color: white; */
  color:rgba(128, 0, 0);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 2px solid rgba(128, 0, 0);
  width: 50vw;
}

.restaurant-mini-details-title {
  margin-right: 5px;
  /* display: flex;
  justify-content: space-between; */
}
.price-rating-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  font-size: 1.2rem;
  margin-top: 10px;
  margin-right: 20px;
}
.restaurant-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
}
.restaurant-vicinity {
  width:75%
}
.button-holder {
  display: flex;
  justify-content: space-around;
  width:95%;
  margin: 10px;
}
#chakra-modal-86 {
  background-color: transparent;
}

/* restaurant list */
.restauraunt-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
}

.content-holder, .restaurant-details-content-holder {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:50vw;
}
.restaurant-search {
  background-color: transparent;
  min-height: calc(100vh - 66px);
}
.restaurant-list-image {
  margin: 20px;
}
/* buttons */

.btn {
  font-size: 1rem;
  padding:.2em;
  padding-left: .4em;
  padding-right: .4em;
  border-radius: .5em;
}
.btn.colored {
  margin:10px;
  background-color: rgba(128, 0, 0);
  color:white;
  border: none;
}
.btn:hover, .btn:focus, .btn:active {
  cursor: pointer;
  box-shadow:0 0 1px 2px white, 0 1px 1px white;
  transition: .2s;
  transform: scale(1.25);
}
.btn.colored:hover {
  background-color: rgba(128, 0, 0, .8);
  transition: .2s;
  transform: scale(1.25);
}
.btn.link {
  background-color: transparent;
  border: none;
  color: rgba(128, 0, 0);
  font-weight: 300;

}
.btn.link:hover, .btn.link:focus {
  color: rgba(128, 0, 0, .7);
  background-color: transparent;
  box-shadow: 0 0 1px 2px maroon, 0 1px 1px maroon;

}
.restaurant-search {
  display:flex;
  justify-content: space-around;
}
.Website {
  margin-top: 10px;
}
.restaurant-details-website {

  color:rgba(128, 0, 0);
  font-style: italic;
  margin-left: 25px;
}
.restaurant-details-website:hover {
  color: rgba(128, 0, 0, .7);
}
.phone-number {
  margin-bottom: 15px;
}
.restaurant-type {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  font-style:italic;
  font-weight: 400;
  color: rgb(168, 167, 167);
}
.restaurant-details-content-holder {
  justify-content: space-around;
}
.restaurant-advanced-details {
  font-size: 1.3rem;
  /* overflow-wrap: normal; */
  max-width: 25vw;
}

.selector {
  /* color: rgba(128, 0, 0); */
  margin-bottom: 10px;
}
.filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  margin: 10px;
  text-align: center;
}
.form-holder {
  position: sticky;
  top: 120px;
  height: fit-content;
  text-align: center;
  border: 1px solid maroon;
  border-radius: 1rem;
  box-shadow: 5px 2px 2px black;
  background-color: white;
}
.form-holder.small {
  width: fit-content;
}
.form-title {
  background-color: rgba(128, 0, 0);
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header {
  color:white;
  background-color: rgba(128, 0, 0);
  text-align: center;
}
.modal-member {
  display: flex;
  align-items: center;
}
/* Spinner */
.sweet-loading {
  margin-top: 100px;
  width: 51vw;
}

/* reviews */
.reviews {
  display:flex;
  /* background-color: lightgray; */
  /* padding:10px; */
  align-items: center;
  justify-content: space-between;
}
.reviews-text {
  font-size: 1rem;
  height: 15vh;
  width: 35vw;
  overflow-y: scroll;
}
.reviews-text-rating-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  max-width: 80%;
}
.reviews-rating-profile {
  margin: 10px;
}
.reviews-content-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.margin-top {
  margin-top: 8px;
}
.image-container {
display: flex;
overflow-x: scroll;
margin-left: 10px;
margin-right: 10px;
flex: 1 1 0;
min-height: 250px;
}
.individual-image {
  margin: 8px;
  box-shadow: 5px 2px 2px black;
  flex:1;
  height: 200px;
  border-radius: .25rem;
}
.individual-image:hover {
  /* height:210px; */
  transition: .2s;
  transform: scale(1.25);
  border-radius: .25rem;
}
.enlarge-on-hover:hover {
  transition: .2s;
  transform: scale(1.25);
}



.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  height:60vh;
  z-index: 10;
}
.welcome-title {
font-size: 8rem;
}
.welcome-content {
font-size: 1.5rem;
width: 50vw;
text-align: center;
}
.welcome-button-holder {
  margin-top: 20px;
  color:maroon;
}
.welcome-button {
  margin:12px;
  margin-right: 20px;
  font-size: 5rem;
  background-color: transparent;
  color:white;
  font-style: italic;
}




.container-fluid{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}
/* ============= Animation background ========= */
.background {
  background: linear-gradient(132deg, maroon, rgb(46, 46, 46), rgb(124, 0, 0));
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #000000;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 30s ease-in forwards infinite;
  z-index: 0;
}
.cube:nth-child(2n) {
  border-color: rgb(22, 22, 22) ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}